<h2 class="text-danger">Your account has been locked due too many failed sign in attempts or due to the fact that you have deleted your account. 
    If you know that you have not deleted your account please try again after 15 minutes or reset your password. If you still cannot sign in please contact support.
</h2>

<hr/>

<h3>Link to reset your password: <a asp-controller="Account" asp-action="ForgotPassword">here</a>.</h3>