<h2>@ViewBag.Title</h2>

<h4>@ViewBag.Message</h4>

<form method="POST">
    <div class="form-group">
        <button class="btn btn-danger" type="submit" asp-action="LockAccount">Yes</button>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">No</a>
    </div>
</form>