@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
		<div class="row justify-content-center">
		  <h2><br/>HOME</h2>
		</div>
		<br>
		<div class="row justify-content-center">
		  <h3>Welcome!</h3>
		  </div>
      <p class="mx-auto">Welcome to my personal web! This place serves as my mean of sharing a bit of myself and things i do with the world. Hope you will find what you are looking for. If you have any questions feel free to contact me at <a href="mailto:simonbrazda@seznam.cz">simonbrazda@seznam.cz</a>.</p>
	</div>
  </div>
</div>
