<div class="container">
  <div class="row">
    <div class="col-sm-12">
		<div class="row justify-content-center">
		  <h2><br/>Minesweeper</h2>
		</div>
		<br/>
        <p class="mx-auto">My humble remake of an amazing game called Minesweeper. Made in C++ with Allegro library. It is far from perfect. The main reason for doing this was to get more practice in C++. Feel free to modify it however you want.</p>
		<p class="mx-auto">Links</p>
		<p class="mx-auto">
			Code:
			<a href="https://github.com/SimonBrazda/Minesweeper" rel="noopener noreferrer" target="_blank">https://github.com/SimonBrazda/Minesweeper</a><br>
			Allegro library:
			<a href="https://liballeg.org/" rel="noopener noreferrer" target="_blank">https://liballeg.org/</a><br>
			Images:
			<a href="https://noobtuts.com/unity/2d-minesweeper-game" rel="noopener noreferrer" target="_blank">https://noobtuts.com/unity/2d-minesweeper-game</a>
		</p>
		<br/>
		<div class="text-center">
			<div class="embed-responsive embed-responsive-4by3" >
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N1KmiUoEdpc"></iframe>
			</div>
		</div>
		<div class="text-center">
			<img src="/images/Minesweeper1.png" class="img-fluid" style="margin-top: 10px;" alt="Responsive image">
		</div>
		<div class="text-center">
			<img src="/images/Minesweeper2.png" class="img-fluid" style="margin-top: 10px;" alt="Responsive image">
		</div>
	</div>
  </div>
</div>