<div class="container">
  <div class="row">
    <div class="col-sm-12">
		<div class="row justify-content-center">
		  <h2><br/>Batchelor Thesis - System for Tracking Position of Vehicles</h2>
		</div>
		<br/>
        <p class="mx-auto">The bachelor thesis deals with the design and construction of a system for recording position of transport vehicles using the Global Navigation Satellite System (GNSS). The first part of this bachelor thesis defines the purpose of the system and its requirements. Based on these requirements and purpose, the system itself is designed. The design deals with the selection of control and processing unit (computer), storage medium and type of wireless communication. Subsequently, the principles of GNSS and their receivers are explained. Furthermore, the thesis describes the components used in the system. In the next section, the device itself is build and programmed in a way that it stores the measured position on the storage medium and sends it via GSM (Global System for Mobile Communication) wireless communication to the server. The server stores the received data and displays the last location. In the end, the system is tested and evaluated.</p>
		<p class="mx-auto">In recent years, there has been a great development and popularization of so-called GPS trackers / locators and services related to them. These devices are used to monitor the position of vehicles, people, consignments and animals. Tracking is generally available in three variants. The first variant is to use the device as a data logger, which stores position data on a storage medium and allows their display back. The second option is to send the position via wireless communication to the server, where it is stored and displayed in real time on the map. The third variant is a combination of the two previous ones, where the data is stored on a storage medium and sent to the server simultaneously.</p>
		<p class="mx-auto">The system is intended to monitor the position of vehicles in real time and allow the route to be displayed back. The system is targeted at owners of vehicles, which want to be able to locate their vehicles in the event of their theft, or just monitor their movement and check the legitimacy of their journeys. However, the system can also be used, when connecting an external battery, to track (spy on) foreign vehicles, animals and shipments.</p>
        <p class="mx-auto">Requirements:</p>
        <ul>
            <li>wireless location tracking,</li>
            <li>saving the position on a storage medium,</li>
            <li>wireless data storage on a server,</li>
            <li>in the event of a wireless communication failure, continue storing data on the given storage medium,</li>
            <li>power supply from the vehicle battery or by connecting an external battery,</li>
            <li>display of the last position by the server,</li>
        </ul>
		 <p class="mx-auto">Red blocks are power supply subsystem and black blocks represent data subsystem</p>
        <div class="text-center">
			<img src="/images/system_fro_tracking_position_of_vehicles.png" class="img-fluid" style="margin-top: 10px;" alt="Responsive image">
		</div>
        <p class="mx-auto">
			Code:
			<a href="https://github.com/SimonBrazda/GPS_tracker" rel="noopener noreferrer" target="_blank">https://github.com/SimonBrazda/Minesweeper</a><br>
		</p>

		<br/>
		<div class="text-center">
			<div class="embed-responsive embed-responsive-4by3">
                <h4>Thesis itself</h4>
                <iframe class="embed-responsive-item" src="/BP.pdf" type="application/pdf" width="100%"></iframe>
            </div>
		</div>
	</div>
  </div>
</div>