<h2>About Car Life Cycle Costs Calculator v. 0.0.1-alpha</h2>

<p>
    Application purpose is to allow users calculate life cycle costs of their cars and compare them to others. 
    The alpha version only counts basic life cycle costs. It doesn't take costs for maintenance into account.
    To insert your car you have to have an account. 
    Keep in mind that calculated results are only approximate.
    The app is still in development so bugs can be commonly encoutered. If you happen to encounter any please let know of them to the owner at 
    <a href="mailto:simonbrazda@seznam.cz">simonbrazda@seznam.cz</a>    
</p>