<h2>Car Life Cycle Costs Calculator (CL3C) v. 0.0.1-alpha</h2>

<p>
    Application allows users to calculate life cycle costs of cars and compare them to others. 
    The alpha version of the app only counts basic life cycle costs. It doesn't take costs for maintenance into account. 
    If you want to see costs for maintenance implemented please let me know.
    To insert your car you have to have an account. 
    Currencies and their rates are updated once per day.
    Keep in mind that calculated results are only approximate.
    The app is still in development so bugs can be commonly encoutered. If you happen to encounter any please let me know at 
    <a href="mailto:simonbrazda@seznam.cz">simonbrazda@seznam.cz</a>    
</p>
<p>
    For currency conversions I used and tweaked <a href="https://github.com/eliefaart/OpenExchangeRates">OpenExchangeRates</a> library by Eric Liefaart and <a href="https://github.com/exchangeratesapi/exchangeratesapi">exchangeratesapi</a> by Madis Väin. 
    Big thanks to them!
</p>